swagger/
target/
project/target/
scalafmt/
http_gateway/
python2/
python3/
.idea
.gradle/
build/
/php/
/vendor/
/js/
node_modules/
local.properties
*.iml
scala/target

/.classpath
/.project
/.settings
/golang
